p#notice = notice

= react_component 'Survey', survey: @survey.as_json(include: { questions: { include: { choices: { only: :caption } } } })
    
= link_to 'Edit', edit_survey_path(@survey)
=<> '|'
= link_to 'Back', surveys_path
